@charset "UTF-8";



#contents_hidari_ue {
	margin-left:30px;
	float:left;
	paddig:15px;
	background:#ffff99;
	border-style:dotted;
	border-width:7px;
	border-color:#ff0099;
	width:500px;
	possition:relative;
}

#contents_migi_ue {
	margin-right:30px;
	float:right;
	paddig:15px;
	background:#66ffff;
	border-style:dotted;
	border-width:7px;
	border-color:#33cc33;
	width:350px;
	possition:relative;
}


#contents_hidari_sita {
	margin-left:30px;
	float:left;
	paddig:15px;
	background:#00ffcc;
	border-style:dotted;
	border-width:7px;
	border-color:#0099cc;
	width:500px;
	possition:relative;
}

#contents_migi_sita {
	margin-right:30px;
	float:right;
	paddig:15px;
	background:#ffffcc;
	border-style:dotted;
	border-width:7px;
	border-color:#ffccff;
	width:350px;
	possition:relative;
}

p {
	text-align:center;
}
p.comment {
	overflow:hidden;
}

